
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');


body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: hsl(210, 60%, 98%);
}

 
.container {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 13px;
   

}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
   
}

.counter {
    border-radius: 5px;
    background-color:hsl(219, 85%, 26%) ;
    text-align: center;
    color: hsl(0, 0%, 100%);
  
}


.leftside{
    display: flex;
    gap: 10px;
    align-items: center;
}


.leftside p {
    font-weight: bold;
    font-size: 30px;
}

.rightside {
    color: hsl(219, 12%, 42%);
}


.main-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


img {
    width: 50px;
    height: 50px;
}

.notification-container{
    display: flex;
    flex-direction: column;
    background-color: hsl(210, 60%, 98%);
    border-radius: 9px;
    padding: 21px;
    width: 90.5%;
    cursor: pointer;
    
   
}

.notification-wrapper{
    display: flex;
    gap: 20px;
}



.name {
    font-weight: bold;
}



.what{
    color: gray;
}


#what-to{
    font-weight: bold;
    color: hsl(219, 12%, 42%);
}


.time { 
    color: gray;
   
}


#what-to2{
    color: hsl(219, 85%, 26%);
    font-weight: bold;
}



#what-to3{
    font-weight: bold;
    color: hsl(219, 12%, 42%);
}



#what-to4{
    font-weight: bold;
    color:hsl(219, 85%, 26%) ;
}



.rizky-message {
    background-color: hsl(205, 33%, 90%);
    border-radius: 10px;
    width: 90%;
    
}

.rizky-message p {
    padding: 20px;
    color: hsl(219, 12%, 42%);
}


.circle {
    width: 9px;
    height: 9px;
    background-color: hsl(1, 90%, 64%);
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 1px;
    margin-left: 5px;
}


@media(max-width:360px){
    .container { 
        width: 340px;
    }
    .counter {
        width: 27px;
        height: 23px;
      
    }
    .header{
        width: 95%;
    }
    .notification-container{
        width: 83%;
    }
}

@media (max-width:393px){
    .container { 
        width: 340px;
        padding: 10px;
    }

    .counter {
        width: 27px;
        height: 23px;
    }

    .leftside p {
        font-size: 22px;
    }

    .notification-container{
        width: 88%;
    } 
    
}

@media (min-width: 412px) {
    body{
        display: flex;
        justify-content: center;
    }


    .container {
        width: 340px;
 
       
    }
   
    .counter {
        width: 27px;
        height: 23px;
      
    }

    .header{
        width: 100%;
    }

    .leftside p{
        font-size: 26px;
    }

    .notification-container{
        width: 88%
    }
    
  }

  @media(min-width:540px){
    body {
        display: flex;
        justify-content: center;
    }
    .container { 
        width: 480px;
   
        padding: 20px;
    }
    .notification-container{
        width: 92%;
    }
  }  

  @media(min-width:768px) {
    body {
        display: flex;
        justify-content: center;
    }
    .container { 
        width: 650px;
        background-color: hsl(0, 0%, 100%);
        padding: 30px;
    }
    .counter {
        width: 30px;
        height: 23px;
    }
   
    .notification-container{
        width: 94%;
    }

    .header {
        padding-bottom: 20px;
    }
  }

  